.itemWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 14px;
	background: #161c29a1;
	flex-basis: calc(50% - 16px);
	margin-bottom: 25px;
}

.city {
	color: white;
	font-size: 15px;
	font-weight: bold;
}

.codeP {
	color: #8c8f9a;
	font-size: 15px;
	font-weight: bold;
}
